html, body{
    background-color: #e5e5f7;

background-image:  radial-gradient(#f74545 0.65px, transparent 0.65px), radial-gradient(#f74545 0.65px, #e5e5f7 0.65px);
background-size: 26px 26px;
background-position: 0 0,13px 13px;
font-family: 'Caveat', cursive;
overflow-x: hidden;
}


